.contact_us {
  background-color: $whiteColor;
  padding: 20px 20px 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include onTablet {
    padding: 80px 60px;
  }

  @include onDesktop {
    padding: 80px 150px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-family: 'raleway-regular', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      color: $titleBlackColor;
      text-align: center;
      line-height: 29px;
    }

    &-line{
      align-self: center;
      margin-top: 25px;
      width: 80px;
      height: 3px;
      background-color: $orangeColor;
    }

    &-text {
      margin-top: 25px;
      color: $descriptionColor;
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    
    @include onDesktop {
      align-items: center;
      justify-content: space-between;
    }

    &-area {
      width: 100%;

      @include onDesktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
      }
    }

    &-input-form {
      display: flex;
      flex-direction: column;
    }

    &-textarea {
      width: 100%;
    }

    &-input {
      box-sizing: border-box;
      padding: 2px;
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid #bdbdbd;
      height: 30px;
      font-family: 'Open Sans Regular', 'Open Sans';
      font-weight: 400;
      color: $blackColor;
      font-size: 14px;

      &:focus {
        outline: none;
        border: 1px solid $orangeColor;
      }

      &::placeholder {
        color: #bdbdbd;
        opacity: 0.4;
      }
    }

    &-textarea {
      box-sizing: border-box;
      padding: 2px;
      margin-bottom: 40px;
      border: none;
      border-bottom: 1px solid #bdbdbd;
      min-height: 129px;
      font-family: 'Open Sans Regular', 'Open Sans';
      font-weight: 400;
      color: $blackColor;
      font-size: 14px;

      &:focus {
        outline: none;
        border: 1px solid $orangeColor;
      }

      &::placeholder {
        color: #bdbdbd;
        opacity: 0.4;
      }
    }

    &-button {
      align-self: center;
      width: 100%;
      height: 40px;
      color: $whiteColor;
      background-color: $orangeColor;
      border-color: $orangeColor;
  
      &:hover {
        transition: 0.7s;
        background-color: $lightOrangeColor;
        border-color: $lightOrangeColor;
      }

      @include onDesktop {
        width: 160px;
      }
    }
  }
}