.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: $blackColor;
  height: 160px;

  &__icons {
    display: flex;
    padding: 0 20px;
    margin-top: 60px;
    justify-content: space-between;

    @include onTablet {
      align-self: center;
      width: 280px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 5px;

    &-year {
      margin-right: 5px;
      color: rgba(255, 255, 255, 0.498039215686275);
      font-family: 'Open Sans Regular', 'Open Sans';
      font-weight: 400;
      font-size: 12px;
    }

    &-link {
      color: rgba(255, 255, 255, 0.498039215686275);
      font-family: 'Open Sans Regular', 'Open Sans';
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;

      &:hover {
        color: $whiteColor;
        text-decoration: underline;
      }
    }
  }

  &__back-home {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    justify-items: flex-end;
    align-self: flex-end;
    top: -24px;
    margin-right: 20px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: $orangeColor;

    @include onDesktop {
      margin-right: 200px;
    }
    
    &-arrow {
      color: $whiteColor;
      text-decoration: none;
      font-size: 28px;
      padding: 7px 0 0 16px;
    }
  }
}