.stylish {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url(../images/stylish_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    padding: 80px 60px;
  }

  @include onDesktop {
    padding: 80px 150px;
  }

  &__title {
    font-family: 'raleway', sans-serif;
    margin-top: 40px;

    color: $whiteColor;
    font-size: 22px;
    font-weight: 600;
  }

  &__line {
    margin-top: 30px;
    height: 3px;
    width: 80px;
    background-color: $whiteColor;
  }

  &__description {
    margin-top: 30px;
    font-family: 'raleway', sans-serif;
    color: $whiteColor;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
  }

  &__button {
    display: block;
    margin-top: 60px;
    height: 40px;
    width: 100%;
    background: transparent;
    color: $whiteColor;
    border-color: $whiteColor;

    &:hover {
      transition: 0.7s;
      color: $blackColor;
      border-color: $whiteColor;
      background-color: $whiteColor;
    }

    @include onDesktop {
      width: 160px;
    }
  }
}
