$whiteColor: #fff;
$blackColor: #000;
$greyColor: #333;
$titleColor: #f5f5f5;
$titleBlackColor: #212121;
$descriptionColor: #86878b;
$orangeColor: #ff8b38;
$lightOrangeColor: #ff8b38;
$mediaIconColor: #ccc;
$mediaIconHoverColor: #ccc;
